
.startDate, .endDate{
    margin-right: 20px;
    width: 200px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #116D6E !important;
  color: white !important;
}

.btn-primary:hover {
  background-color: #116D6E !important;
  color: white !important;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
}
.msg{
 height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* table td:nth-child(3),table td:nth-child(4) {
    padding-left: 50px;
  } */

  table tfoot td{
    border-bottom: none;
  }