.closeButton.topRight {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
  }

.separatorLine {
    height: 1px;
    background-color: #ccc; 
    margin: 30px 0; 
  }

.confirmBtns {
    display: flex;
  justify-content: flex-end;
}

.deleteBtn,
.cancelBtn {
  padding: 10px 20px; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  width: 100px;
}

.cancelBtn {
  background-color: #fff; 
  border: 1px solid green;
  margin-right: 20px;
  color: green;
}
.deleteBtn {
    background-color: green; 
    color: #fff;
  }