.action-ver {
    margin-right: 15px; 
    color: #055b05; 
    cursor: pointer;
  }
  .action-edit {
    margin-right: 15px; 
    color: #0033ff; 
    cursor: pointer;
  }
  .action-delete {
    color: #ff0000; 
    cursor: pointer;
  }
  .produto_servico{
    width: 20%;
  }
  .produto_total{
    width: 26%;
    
  }
  .produto_comissao{
    width: 12%;
  }

  
  
  
  
  
  
  