.navbar {
    background-color: #F0F0F0;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
  }
  
  .nav-menu-icon {
    margin-left: 2rem;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #000000;
    ;
    max-height: 2rem;
    background: none;
  }
  
  .sidebar-container {
    background-color: #F0F0F0;
    width: 14rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 1s;
    z-index: 2;
    border-right: 1px solid #ccc;
  }
  
  .sidebar-container.active {
    left: 0;
    transition: 500ms;
  }
  
  .sidebar-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
    list-style: none;
    padding: 8px 0px 8px 16px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  .sidebar-item a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    border-radius: 4px;
  }
  
  .sidebar-item a:hover {
    background-color: rgb(69, 69, 197);
  }
  
  .sidebar-items {
    width: 100%;
  }
  
  .sidebar-container .sidebar-toggle {
    display: flex;
    height: 60px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.7rem;
  }
  
  span {
    padding-left: 1rem;
  }
  .titulo{
    color: #00585E;
    ;
  
  }