* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1390px;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}
.App {
  background-color: #f8f8f8;
  height: 100vh;
}
